* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    color: #27272a;
    background-color: #f5f5f5 !important;
}
header {
    background-color: #03A5F0;
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header-shop{
    display: flex;
    justify-content: space-between;
    
}
.header-search{
    flex: 1;
    max-width: 70%;
}
.list-action-user ul{
    padding: 0;
    margin: 0;
    background-color: #25D366;
    display: none;
}
.header-user{
    margin-right: 20px;
    cursor: pointer;
}
.list-action-user li{
    list-style: none;
}
.list-action-user li a{
    color: white;
    text-decoration: none;
}
.header-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cart-info, .header-user{
    background-color: #25D366;
    border-radius: 5px;
    padding: 2px 6px;
}
.header-cart-info a{
    position: relative;
}
.header-cart-info span{
    position: absolute;
    top: -12px;
    background-color: red;
    font-size: 10px;
    right: -15px;
    border-radius: 50%;
}
.action-user a{
    color: white;
    text-decoration: none;
}
.slide-banner img{
    width: 100%;
}
.list-category{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.item-category{
    padding: 17px 10px;
    width: 120px;
    text-align: center;
    border-right: 1px solid #d8d8d8;
}
.item-category:first-child{
    border-left: 1px solid #d8d8d8;
}
.item-category a{
    text-decoration: none;
    color: black;
}
.item-category img{
    width: 50px;
    object-fit: cover;
    aspect-ratio: 1;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 3px;
}
.name-category{
    margin-top: 20px;
    font-size: 14px;
}
.item-slide-tintuc img{
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}
.slide-sell-product-home{
    background-color: #fff;
    padding: 15px;
}
.title-sell-product{
    text-transform: uppercase;
    color: pink;
    font-weight: bold;
    font-size: 20px;
}
.xem-them{
    color: pink;
    text-decoration: none;
}
.list-item-product-sell{
    margin-top: 20px;
}
.item-product-sell{
    border-radius: 5px;
    text-align: center;
    border: 1px solid #efeeee;
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
}
.item-product-sell .img{
    border: 5px solid pink;
    border-top-right-radius: 5px solid pink;
    border-top-left-radius: 5px solid pink;
}
.img img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.body{
    padding: 5px;
    margin-top: 10px;
    height: 100px;
}
.body a{
    text-decoration: none;
    color: black;
    
}
.price{
    color: red;
    font-weight: 500;
}
.title-product-home{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.item-product-home{
    background-color: #fff;
    border-radius: 5px;
}
.item-product-home .body{
    padding: 10px;
}
.item-product-home .price{
    margin-top: 10px;
}
.page_next{
    display: inline-block;
    margin-top: 20px;
    color: #222647;
    border-radius: 5px;
    border: 1px solid #222647;
    padding: 10px 40px;
    text-decoration: none;
}
.page_next:hover{
    color: white;
    background-color: #222647;
}
.footer{
    margin-top: 40px;
    background-color: #e6e8f3;
    padding: 30px 0;
}
.title-logo-name{
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
}
.title-lienket-footer{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}
.body a:hover{
    color: #03A5F0;
    font-weight: bold;
}
.ul-reset{
    margin: 0;
    padding: 0;
}
.ul-reset li{
    list-style: none;
    padding: 1px 0;
}
.ul-reset a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.title-hotro-footer{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}
.title-theodoi-footer{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}
.theodoi{
    font-size: 30px;
}
.breadcrumb-item a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.bg-breadcrumb{
    margin-top: 15px;
}
.img-product-detail{
    border-right: 1px solid rgb(198, 197, 197);
    padding: 15px;
}
.img-to{
    border: 1px solid rgb(198, 197, 197);
    padding: 15px;
}
.item-img-to img{
    width: 100%;
}
.img-nav{
    margin-top: 10px;
}
.item-img-nav img{
    width: 70px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}
.box-product-detail .name-product{
    color: #27272a;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
}
.price-product-detail{
    color: red;
    font-weight: bold;
    padding: 20px 10px;
    background-color: #f5f5f5;
    font-size: 24px;
    margin: 15px 0;
    border-radius: 3px;
}
.des-product-detail a{
    text-decoration: none;
    color: #03A5F0;
}
.des-product-detail span{
    margin-bottom: 10px;
}
.soluong{
    display: flex;
    align-items: center;
}
.box-soluong{
    border: 1px solid lightgray;
}
.box-soluong input{
    width: 40px;
    border: none;
}
.box-soluong button{
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 3px 8px;
}
.btn-lienhe{
    border: 1px solid #03A5F0;
    text-decoration: none;
    color: #03A5F0;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 8px 0;
}
.add-cart{
    text-decoration: none;
    color: white;
    background-color: #222647;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 8px 0;
}
.share-product-detail{
    font-weight: bold;
    font-size: 18px;
}
.share-product-detail a{
    font-size: 30px;
}
.item-too-product img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.too-product .slick-slide{
    padding: 0 10px;
    box-shadow: rgba(0,0,0,.15) -2.05px 1.95px 2.6px;
}
.slick-slide {
    margin: 0 10px;
}

/* the parent */
.slick-list {
    margin: 0 -10px !important;
}